<a href="https://colab.research.google.com/github/kislay960/lannet-coding-test/blob/master/datascience_codingtest_lannet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 1 of the coding test
def question1():
  #importig libraries
  import pandas as pd
  import numpy as np

  #creating and printing our dummy dataframe with multiple date columns in different formats
  data=pd.DataFrame({'col1':['15.01.2020','02.08.2020','29.09.2020'],'col2':['2020-01-20','2020-12-17', '2020-09-06'],'col3':[1,2,4],'col4':['16/01/2020','22/08/2020','23/09/2020']})
  print(data)

  #converting our data to csv file
  data.to_csv('test.csv')

  #loop to check columns and remove invalid entries
  for col in data.columns:
    if data[col].dtype=='object':
      try:
        #Checking and removing invalid entries from date columns
        data[col]=pd.to_datetime(data[col],errors='coerce') 
      except:
        pass

  #Removing columns which does not have date datatype
  data=data.select_dtypes(include=[np.datetime64])

  #printing number of columns to find out number of new columns to be added in the dataframe
  print(len(data))

  #adding new columns manually as loops will overwrite the column name and we can't use string formatting here.
  data=data.assign(date1date2=lambda x:(abs(data[data.columns[0]]-data[data.columns[1]])))
  data=data.assign(date2date3=lambda x:(abs(data[data.columns[1]]-data[data.columns[2]])))
  data=data.assign(date3date1=lambda x:(abs(data[data.columns[2]]-data[data.columns[0]])))

  #printing our dataframe
  print(data)


#calling our function
question1()

         col1        col2  col3        col4
0  15.01.2020  2020-01-20     1  16/01/2020
1  02.08.2020  2020-12-17     2  22/08/2020
2  29.09.2020  2020-09-06     4  23/09/2020
3
        col1       col2       col4 date1date2 date2date3 date3date1
0 2020-01-15 2020-01-20 2020-01-16     5 days     4 days     1 days
1 2020-02-08 2020-12-17 2020-08-22   313 days   117 days   196 days
2 2020-09-29 2020-09-06 2020-09-23    23 days    17 days     6 days

In [ ]:
#Question 2

#NOTE: We can use many methods to remove outliers, this one will consume much less time and memory, hence we are using this method.

def question2():
  #importing libraries
  import numpy as np
  import pandas as pd

  #creating and printing dummy dataframe
  data=pd.DataFrame({1:[5,24,25,23,28],2:[17,0,19,16,15],3:[20,21,22,24,23],4:[44,50,55,1000,57],5:[39,0,1000,40,41]})
  print(data)

  #considering values between 0.25 and 0.75 quantile
  Q1 = data.quantile(0.25)
  Q3 = data.quantile(0.75)
  IQR = Q3 - Q1

  #Removing the outlier data
  data = data[~((data < (Q1 - 1.5 * IQR)) |(data > (Q3 + 1.5 * IQR)))]

  #We removed outliers from our dataset. If you want to replace NaN values with mean values, follow this code
  data=data.fillna(data.mean())

  #printing our new dataset
  print(data)


#Calling our function
question2()

    1   2   3     4     5
0   5  17  20    44    39
1  24   0  21    50     0
2  25  19  22    55  1000
3  23  16  24  1000    40
4  28  15  23    57    41
      1      2   3     4     5
0  25.0  17.00  20  44.0  39.0
1  24.0  16.75  21  50.0  40.0
2  25.0  19.00  22  55.0  40.0
3  23.0  16.00  24  51.5  40.0
4  28.0  15.00  23  57.0  41.0

In [ ]:
#Question 3
def question3():
  #importing libraries
  import pandas as pd

  #creating and printing our dummy dataframe
  data=pd.DataFrame({'col1':[1,1,2,3,2],'col2':[2,3,1,4,0],'col3':['a','b','c','d','e'],'col4':[44,50,55,1000,57],'col5':[39,0,1000,40,41]})
  print(data)

  #Removing volumns except of type integer and float
  data=data.select_dtypes(include = ['int64','float64'])

  #Checking for continous data
  for col in data.columns:
    col_len = len(data[col].unique())
    #We are considering column length 4 as our dataframe has column length 5. Change it as the size of dataframe changes.
    if col_len<4:
      del data[col]

  #Finding pearso correlation between continous data
  corr = data.corr(method='pearson')

  #Check for pearson correlation>0.85 and delete columns with values<0.85
  for col in corr.columns:
    if len(corr[col][corr[col]>0.85])>1:
      del data[col]

  #printing our final dataset
  print(data)


#Calling out function
question3()

   col1  col2 col3  col4  col5
0     1     2    a    44    39
1     1     3    b    50     0
2     2     1    c    55  1000
3     3     4    d  1000    40
4     2     0    e    57    41
   col2  col4  col5
0     2    44    39
1     3    50     0
2     1    55  1000
3     4  1000    40
4     0    57    41